.landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/utah-1-min.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  button {
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.692);
  }

  button:hover {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: black;
  }
}
